/build
/build-*/
/build_*/
/build-sdl2
/参考
/build-check
.DS_Store
/docs/releases/
/tmp/
/temp/
/.github/skills/
/tmpfile/
README.md.upstream
/android/.gradle/
/android/app/.cxx/
/android/app/build/
/android/local.properties
